#site-preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #212E5E;
    /* background-color: #ffffff; */
    /* Tailwind blue-900 to blue-500 */
    z-index: 9999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    transition: opacity 0.5s ease-in-out;
}


.pgpc-preloader-logo {
    width: 250px;
    height: 250px;
    /* Must match the width exactly */
    object-fit: cover;
    /* Ensures the image doesn't stretch or warp */
    border-radius: 50%;
    /* This creates the perfect circle */
    margin-bottom: 30px;
    /* box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2); */
    animation: pgpc-pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.pgpc-spinner {
    width: 60px;
    height: 60px;
    border: 4px solid rgba(255, 255, 255, 0.2);
    border-top: 4px solid #ffffff;
    border-radius: 50%;
    animation: pgpc-spin 1s linear infinite;
}

.pgpc-loader-text {
    margin-top: 25px;
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
    letter-spacing: 0.5px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@keyframes pgpc-spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes pgpc-pulse {

    0%,
    100% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.05);
        opacity: 0.9;
    }
}